*.class
*.idea
*.iml
*.png
*.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
algs4.jar

*.iws
*.ipr
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
application.properties